# To auto start xkeysnail, do this:
#
# 1. add $USER to `uinput` group
#
# ```shell-session
# $ sudo groupadd -f uinput
# $ sudo gpasswd -a $USER uinput
# ```
#
# 2. add new udev rule (to run xkeysnail without sudo)
#
# ```shell-session
# cat <<EOF | sudo tee /etc/udev/rules.d/70-xkeysnail.rules
# KERNEL=="uinput", GROUP="uinput", MODE="0660", OPTIONS+="static_node=uinput"
# KERNEL=="event[0-9]*", GROUP="uinput", MODE="0660"
# EOF
# ```
#
# 3. finally place ths file to ~/.config/autostart
#
[Desktop Entry]
Type=Application
Exec=/home/grey/.local/bin/xkeysnail /home/grey/xkeysnail.config.py
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[ja]=xkeysnail
Name=xkeysnail
Comment[ja]=
Comment=
