# To auto start xremap, do this:
#
# 1. add $USER to `input` group
#
# ```shell-session
# $ sudo gpasswd -a $USER input
# ```
#
# 2. add new udev rule (to run xremap without sudo)
#
# ```shell-session
# $ echo 'KERNEL=="uinput", GROUP="input", TAG+="uaccess"' | sudo tee /etc/udev/rules.d/input.rules
# ```
#
# 3. finally place ths file to ~/.config/autostart
#
# 4. if GNOME with Wayland, install this extension for applicatoin selectoin
#    <https://extensions.gnome.org/extension/5060/xremap/>
#
[Desktop Entry]
Type=Application
Exec=env /home/grey/opt/bin/xremap --watch=config /home/grey/.xremap.config.yaml
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[ja]=xremap
Name=xkeysnail
Comment[ja]=
Comment=
